body {
    width: 1000px;
    margin: 0 auto;
}

.title {
    font-family: "Times New Roman", serif;
    text-decoration: italic, bold;
    font-size: 14px;
    text-align: center;
}

.footer {
    text-decoration: italic;
}

