/***body {
    background-image: url("hand.jpg");
    background-color: #ffffff;
    background-repeat: repeat;
}***/

body {
  background-color: #e0eef8;
}

#intro {
    color: white;
  	font-family: "Courier New", monospace;
  	font-size: 10px;
	  text-align: center;
}

.people {
  color: white;
}10
.ghosts {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 4px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

div {
  background-color: #e0eef8;
  background-image:
    linear-gradient(
      #eef4f8, #dae8f2
    );
}

