/***body {
    background-image: url("hand.jpg");
    background-color: #ffffff;
    background-repeat: repeat;
}***/

body {
  background-color: #e0eef8;
}

#intro {
    color: white;
  	font-family: "Courier New", monospace;
  	font-size: 10px;
	  text-align: center;
}

.people {
  color: white;
}

.ghosts {
  text-shadow: 0 0 9px #ffd5f2;
}

div {
  background-color: #e0eef8;
  background-image:
    linear-gradient(
      #eef4f8, #dae8f2
    );
}

