#intro {
    color: white;
  	font-family: "Courier New", monospace;
  	font-size: 10px;
	  text-align: center;
}

body {
    background-image: url("hand.jpg");
    background-color: #ffffff;
    background-repeat: repeat;
}

p {
    color: red;
    text-align: center;
}