head {
    font-size: 20px;
    text-align: center;
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: yellow;
}

.box-wrapper {
    background-color: blue;
}