.blocks-wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.block2 {
    width: 50%;
    height: 25%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffc600;
    text-align: center;
    line-height: 11;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.block3_1 {
    width: 50%;
    height: 25%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ff5000;
}

.block3_2 {
    width: 75%;
    height: 25%;
    position: absolute;
    right: 0;
    top: 25%;
    background-color: #ff5000;
    text-align: center;
    line-height: 11;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.block3_3 {
    width: 25%;
    height: 50%;
    position: absolute;
    right: 25%;
    bottom: 0;
    background-color: #ff5000;
}

.block4_1 {
    width: 25%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #1e24ff;
    text-align: center;
    line-height: 11;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.block4_2 {
    width: 25%;
    height: 25%;
    position: absolute;
    left: 25%;
    bottom: 25%;
    background-color: #1e24ff;
}

.block6 {
    width: 25%;
    height: 25%;
    position: absolute;
    left: 0;
    top: 25%;
    background-color: #760010;
    text-align: center;
    line-height: 11;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.block7 {
    width: 25%;
    height: 25%;
    position: absolute;
    left: 25%;
    bottom: 0;
    background-color: black;
    text-align: center;
    line-height: 11;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.block8 {
    width: 25%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #00ff4e;
    text-align: center;
    line-height: 22;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}