body {
    width: 1500px;
    margin: 0 auto;
}

.left-wrapper {
    width: 100px;
    height: 100px
    position: fixed;
    background-color: red;
}

.right-wrapper {
    width: 100px;
    height: 100px;
    position: fixed;
    background-color: red;
}

.stories-wrapper {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    width: 900px;
    float: left;
}