body {
    width: 1500px;
    margin: 0 auto;
}

.left-wrapper {
    width: 150px;
    height: 100px;
    float: left;
    background-color: red;
}

.stories-wrapper {
    margin-left: 50px;
    margin-right: 50px;
    width: 1100px;
    float: left;
}

.right-wrapper {
    width: 150px;
    height: 100px;
    float: left;
    background-color: red;
}