body {
    width: 1500px;
    margin: 0 auto;
}

.left-wrapper {
    width: 150px;
    height: 100px;
    float: left;
    background-color: red;
}

.stories-wrapper {
    margin-left: 100px;
    margin-right: 100px;
    width: 1000px;
    float: left;
}

.right-wrapper {
    width: 150px;
    height: 100px;
    float: left;
    background-color: red;
}

.s-color-wrapper {
    opacity: .4;
}