body {
    margin: 0;
    padding: 0;
}

.stories-wrapper {
    margin-left: 70px;
}

.word-wrapper {
    display: inline-block;
    font-size: 0;
}

.left-wrapper {
    left: 1px;
    position: fixed;
    z-index: 2;
    color: blue;
    font-size: 28px;
    text-decoration: underline;
    float: left;
}

.right-wrapper {
    right: 1px;
    position: fixed;
    z-index: 2;
    color: blue;
    font-size: 28px;
    text-align: right;
    text-decoration: underline;
    float: right;
}

.car-accident {
    position: absolute;
    margin-top: 400px;
    margin-left: 1145px;
}

.studying-abroad {
    position: absolute;
    margin-top: 205px;
    margin-left: 95px;
}

.capsicum {
    position: absolute;
    margin-top: 155px;
    margin-left: 705px;
}

.internship {
    position: absolute;
    margin-left: 875px;
    margin-top: 495px;
}

.columbia {
    position: absolute;
    margin-left: 325px;
    margin-top: 615px;
}

.trust {
    position: absolute;
    margin-left: 900px;
    margin-top: 265px;
}

.nyu-acceptance-letter {
    position: absolute;
    margin-left: 335px;
    margin-top: 355px;
}

.radiates {
    position: absolute;
    margin-left: 960px;
    margin-top: 85px;
}

.new-house {
    position: absolute;
    margin-left: 295px;
    margin-top: 125px;
}

.abandoned-building {
    position: absolute;
    margin-left: 90px;
    margin-top: 450px;
}

.archive {
    height: 700px;
    margin-top: 100px;
    background-color: blue;
    color: white;
    font-size: 28px;
    text-decoration: underline;
}

a {
    color:white;
}

a:visited {
    color:white;
}

.space {
    width: 60px;
    height: 50px;
    display: inline-block;
}

.pulse:hover {
    transform: scale(1.1);
    display: inline-block;
}