body {
    width: 1000px;
    height: 8350px;
    margin: 0 auto;
}

.left-wrapper {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 2;
    background-color: white;
    color: blue;
    font-size: 28px;
    text-decoration: underline;
}

.right-wrapper {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 2;
    background-color: white;
    color: blue;
    font-size: 28px;
    text-decoration: underline;
}

.stories-wrapper {
    margin-left: 100px;
    margin-right: 30px;
    width: 1150px;
    height: 1050px;
    float: left;
    transform: scale(.6);
}