body {
    margin: 0;
    padding: 0;
}

.stories-wrapper {
    margin-left: 70px;
    margin-bottom: 160px;
    margin-top: 30px;
}

.word-wrapper {
    display: inline-block;
    font-size: 0;
}

.left-wrapper {
    left: 1px;
    position: fixed;
    margin-top: 345px;
    z-index: 2;
    color: blue;
    font-family: arial, helvetica, sans-serif;
    font-size: 130px;
    float: left;
}

.right-wrapper {
    right: 1px;
    position: fixed;
    margin-top: 360px;
    margin-right: 10px;
    z-index: 2;
    color: blue;
    font-family: arial, helvetica, sans-serif;
    font-size: 130px;
    text-align: right;
    float: right;
}

.about {
    right: 15px;
    top: 0px;
    position: absolute;
    font-family: arial, helvetica, sans-serif;
    font-size: 24px;
    text-decoration: underline;
}

.attachment-wrapper {
    display: inline-block;
    margin-left: 70px;
}

.attachment {
    display: inline-block;
    font-family: arial, helvetica, sans-serif;
    color: black;
    font-size: 24px;
    margin-left: 20px;
    text-decoration: none;
}

img {
    padding-top: 10px;
    display: inline-block;
    width: 40px;
}

.archive {
    height: 875px;
    margin-top: 100px;
    font-family: arial, helvetica, sans-serif;
    background-color: #cfe1fe;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.car-accident {
    position: absolute;
    margin-top: 400px;
    margin-left: 1145px;
    color: white;
    text-decoration: none;
}

.studying-abroad {
    position: absolute;
    margin-top: 205px;
    margin-left: 55px;
    text-decoration: none;
}

.capsicum {
    position: absolute;
    margin-top: 155px;
    margin-left: 705px;
    color: white;
    text-decoration: none;
}

.internship {
    position: absolute;
    margin-left: 875px;
    margin-top: 495px;
    color: white;
    text-decoration: none;
}

.columbia {
    position: absolute;
    margin-top: 800px;
    margin-left: 325px;
    color: white;
    text-decoration: none;
}

.trust {
    position: absolute;
    margin-top: 265px;
    margin-left: 900px;
    color: white;
    text-decoration: none;
}

.nyu-acceptance-letter {
    margin-top: 355px;
    position: absolute;
    margin-left: 335px;
    color: white;
    text-decoration: none;
}

.radiates {
    position: absolute;
    margin-top: 85px;
    margin-left: 960px;
    color: white;
    text-decoration: none;
}

.new-house {
    position: absolute;
    margin-top: 45px;
    margin-left: 275px;
    color: white;
    text-decoration: none;
}

.abandoned-building {
    position: absolute;
    margin-top: 450px;
    margin-left: 100px;
    color: white;
    text-decoration: none;
}

.our-relationship {
    position: absolute;
    margin-top: 700px;
    margin-left: 700px;
    color: white;
    text-decoration: none;
}

/* a {
    color:white;
}

a:visited {
    color:white;
} */

.space {
    width: 60px;
    height: 50px;
    display: inline-block;
}

/* .pulse:hover {
    transform: scale(1.1);
    display: inline-block;
} */

a {
    font-family: arial, helvetica, sans-serif;
    color: blue;
    font-size: 24px;
    text-decoration: underline;
}

/*a:hover {
    transform: scale(1.1);
    display: inline-block;
}