body {
    width: 1500px;
    margin: 0 auto;
}

.left-wrapper {
    width: 200px;
    height: 200px;
    position: fixed;
    background-color: red;
    z-index: 2;
}

.right-wrapper {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    position: fixed;
    background-color: red;
    z-index: 2;
}

.stories-wrapper {
    margin-left: 250px;
    margin-right: 30px;
    margin-top: 300px;
    width: 21020px;
    height: 300px;
    float: left;
}