a {
    font-family: arial, helvetica, sans-serif;
    color: blue;
    font-size: 24px;
    text-decoration: underline;
}

.stories {
    width: 595px;
    padding-top: 310px;
    margin: 0 auto;
    font-family: arial, helvetica, sans-serif;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

body {
    background-color: #cfe1fe;
}
