body {
    width: 1000px;
    height: 8350px;
    margin: 0 auto;
}

.left-wrapper {
    width: 150px;
    height: 150px;
    left: 0px;
    position: fixed;
    z-index: 2;
    background-color: white;
    color: blue;
    font-size: 28px;
    text-decoration: underline;
    float: left;
}

.right-wrapper {
    width: 150px;
    height: 150px;
    right: 0px;
    position: fixed;
    z-index: 2;
    background-color: white;
    color: blue;
    font-size: 28px;
    text-align: right;
    text-decoration: underline;
    float: right;
}

.stories-wrapper {
    width: 1450px;
    height: 8000px;
    transform: scale(.6);
}