.all-blocks-wrapper {
    width: 1040px;
    float: left;
}

.a-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 108px;
    margin-left: 108px;
    position: absolute;
    background-color: black;
}

.a-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 114px;
    position: absolute;
    background-color: black;
}

.a-block-3 {
    width: 24px;
    height: 12px;
    margin-top: 99px;
    margin-left: 123px;
    position: absolute;
    background-color: black;
}

.a-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 144px;
    position: absolute;
    background-color: black;
}

.a-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 108px;
    margin-left: 150px;
    position: absolute;
    background-color: black;
}

.a-block-6 {
    width: 12px;
    height: 54px;
    margin-top: 117px;
    margin-left: 153px;
    position: absolute;
    background-color: black;
}

.a-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 126px;
    margin-left: 144px;
    position: absolute;
    background-color: black;
}

.a-block-8 {
    width: 24px;
    height: 12px;
    margin-top: 123px;
    margin-left: 123px;
    position: absolute;
    background-color: black;
}

.a-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 126px;
    margin-left: 114px;
    position: absolute;
    background-color: black;
}

.a-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 132px;
    margin-left: 108px;
    position: absolute;
    background-color: black;
}

.a-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 141px;
    margin-left: 105px;
    position: absolute;
    background-color: black;
}

.a-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 150px;
    margin-left: 108px;
    position: absolute;
    background-color: black;
}

.a-block-13 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 114px;
    position: absolute;
    background-color: black;
}

.a-block-14 {
    width: 24px;
    height: 12px;
    margin-top: 159px;
    margin-left: 123px;
    position: absolute;
    background-color: black;
}

.a-block-15 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 144px;
    position: absolute;
    background-color: black;
}

.b-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 51px;
    margin-left: 214px;
    position: absolute;
    background-color: black;
}

.b-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 220px;
    position: absolute;
    background-color: black;
}

.b-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 226px;
    position: absolute;
    background-color: black;
}

.b-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 99px;
    margin-left: 238px;
    position: absolute;
    background-color: black;
}

.b-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 250px;
    position: absolute;
    background-color: black;
}

.b-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 256px;
    position: absolute;
    background-color: black;
}

.b-block-7 {
    width: 12px;
    height: 24px;
    margin-top: 123px;
    margin-left: 262px;
    position: absolute;
    background-color: black;
}

.b-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 256px;
    position: absolute;
    background-color: black;
}

.b-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 250px;
    position: absolute;
    background-color: black;
}

.b-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 159px;
    margin-left: 238px;
    position: absolute;
    background-color: black;
}

.b-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 226px;
    position: absolute;
    background-color: black;
}

.b-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 220px;
    position: absolute;
    background-color: black;
}

.c-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 123px;
    margin-left: 332px;
    position: absolute;
    background-color: black;
}

.c-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 338px;
    position: absolute;
    background-color: black;
}

.c-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 338px;
    position: absolute;
    background-color: black;
}

.c-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 344px;
    position: absolute;
    background-color: black;
}

.c-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 344px;
    position: absolute;
    background-color: black;
}

.c-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 99px;
    margin-left: 356px;
    position: absolute;
    background-color: black;
}

.c-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 159px;
    margin-left: 356px;
    position: absolute;
    background-color: black;
}

.c-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 368px;
    position: absolute;
    background-color: black;
}

.c-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 368px;
    position: absolute;
    background-color: black;
}

.c-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 374px;
    position: absolute;
    background-color: black;
}

.c-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 374px;
    position: absolute;
    background-color: black;
}

.d-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 123px;
    margin-left: 444px;
    position: absolute;
    background-color: black;
}

.d-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 450px;
    position: absolute;
    background-color: black;
}

.d-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 456px;
    position: absolute;
    background-color: black;
}

.d-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 99px;
    margin-left: 468px;
    position: absolute;
    background-color: black;
}

.d-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 480px;
    position: absolute;
    background-color: black;
}

.d-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 486px;
    position: absolute;
    background-color: black;
}

.d-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 450px;
    position: absolute;
    background-color: black;
}

.d-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 456px;
    position: absolute;
    background-color: black;
}

.d-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 159px;
    margin-left: 468px;
    position: absolute;
    background-color: black;
}

.d-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 480px;
    position: absolute;
    background-color: black;
}

.d-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 486px;
    position: absolute;
    background-color: black;
}

.d-block-12 {
    width: 12px;
    height: 120px;
    margin-top: 51px;
    margin-left: 492px;
    position: absolute;
    background-color: black;
}

.e-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 123px;
    margin-left: 562px;
    position: absolute;
    background-color: black;
}

.e-block-2 {
    width: 48px;
    height: 12px;
    margin-top: 123px;
    margin-left: 574px;
    position: absolute;
    background-color: black;
}

.e-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 568px;
    position: absolute;
    background-color: black;
}

.e-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 574px;
    position: absolute;
    background-color: black;
}

.e-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 99px;
    margin-left: 586px;
    position: absolute;
    background-color: black;
}

.e-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 598px;
    position: absolute;
    background-color: black;
}

.e-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 604px;
    position: absolute;
    background-color: black;
}

.e-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 568px;
    position: absolute;
    background-color: black;
}

.e-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 574px;
    position: absolute;
    background-color: black;
}

.e-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 159px;
    margin-left: 586px;
    position: absolute;
    background-color: black;
}

.e-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 598px;
    position: absolute;
    background-color: black;
}

.e-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 604px;
    position: absolute;
    background-color: black;
}

.f-block-1 {
    width: 48px;
    height: 12px;
    margin-top: 123px;
    margin-left: 680px;
    position: absolute;
    background-color: black;
}

.f-block-2 {
    width: 12px;
    height: 99px;
    margin-top: 72px;
    margin-left: 692px;
    position: absolute;
    background-color: black;
}

.f-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 63px;
    margin-left: 698px;
    position: absolute;
    background-color: black;
}

.f-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 54px;
    margin-left: 704px;
    position: absolute;
    background-color: black;
}

.f-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 51px;
    margin-left: 716px;
    position: absolute;
    background-color: black;
}

.f-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 54px;
    margin-left: 728px;
    position: absolute;
    background-color: black;
}

.f-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 63px;
    margin-left: 734px;
    position: absolute;
    background-color: black;
}

.g-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 123px;
    margin-left: 804px;
    position: absolute;
    background-color: black;
}

.g-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 810px;
    position: absolute;
    background-color: black;
}

.g-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 810px;
    position: absolute;
    background-color: black;
}

.g-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 816px;
    position: absolute;
    background-color: black;
}

.g-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 816px;
    position: absolute;
    background-color: black;
}

.g-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 99px;
    margin-left: 828px;
    position: absolute;
    background-color: black;
}

.g-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 840px;
    position: absolute;
    background-color: black;
}

.g-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 846px;
    position: absolute;
    background-color: black;
}

.g-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 159px;
    margin-left: 828px;
    position: absolute;
    background-color: black;
}

.g-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 840px;
    position: absolute;
    background-color: black;
}

.g-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 846px;
    position: absolute;
    background-color: black;
}

.g-block-12 {
    width: 12px;
    height: 96px;
    margin-top: 99px;
    margin-left: 852px;
    position: absolute;
    background-color: black;
}

.g-block-13 {
    width: 12px;
    height: 12px;
    margin-top: 195px;
    margin-left: 846px;
    position: absolute;
    background-color: black;
}

.g-block-14 {
    width: 12px;
    height: 12px;
    margin-top: 204px;
    margin-left: 840px;
    position: absolute;
    background-color: black;
}

.g-block-15 {
    width: 12px;
    height: 12px;
    margin-top: 207px;
    margin-left: 828px;
    position: absolute;
    background-color: black;
}

.g-block-16 {
    width: 12px;
    height: 12px;
    margin-top: 204px;
    margin-left: 816px;
    position: absolute;
    background-color: black;
}

.g-block-17 {
    width: 12px;
    height: 12px;
    margin-top: 195px;
    margin-left: 810px;
    position: absolute;
    background-color: black;
}

.h-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 51px;
    margin-left: 922px;
    position: absolute;
    background-color: black;
}

.h-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 925px;
    position: absolute;
    background-color: black;
}

.h-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 931px;
    position: absolute;
    background-color: black;
}

.h-block-4 {
    width: 24px;
    height: 12px;
    margin-top: 99px;
    margin-left: 940px;
    position: absolute;
    background-color: black;
}

.h-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 102px;
    margin-left: 961px;
    position: absolute;
    background-color: black;
}

.h-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 967px;
    position: absolute;
    background-color: black;
}

.h-block-7 {
    width: 12px;
    height: 48px;
    margin-top: 123px;
    margin-left: 970px;
    position: absolute;
    background-color: black;
}

.i-block-1 {
    width: 12px;
    height: 72px;
    margin-top: 279px;
    margin-left: 105px;
    position: absolute;
    background-color: black;
    
}

.i-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 243px;
    margin-left: 105px;
    position: absolute;
    background-color: black;
}

.j-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 357px;
    margin-left: 175px;
    position: absolute;
    background-color: black;
}

.j-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 366px;
    margin-left: 181px;
    position: absolute;
    background-color: black;
}

.j-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 369px;
    margin-left: 193px;
    position: absolute;
    background-color: black;
}

.j-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 366px;
    margin-left: 205px;
    position: absolute;
    background-color: black;
}

.j-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 357px;
    margin-left: 211px;
    position: absolute;
    background-color: black;
}

.j-block-6 {
    width: 12px;
    height: 84px;
    margin-top: 279px;
    margin-left: 217px;
    position: absolute;
    background-color: black;
}

.j-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 243px;
    margin-left: 217px;
    position: absolute;
    background-color: black;
}

.k-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 231px;
    margin-left: 287px;
    position: absolute;
    background-color: black;
}

.k-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 279px;
    margin-left: 326px;
    position: absolute;
    background-color: black;
}

.k-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 288px;
    margin-left: 314px;
    position: absolute;
    background-color: black;
}

.k-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 297px;
    margin-left: 305px;
    position: absolute;
    background-color: black;
}

.k-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 306px;
    margin-left: 296px;
    position: absolute;
    background-color: black;
}

.k-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 306px;
    margin-left: 314px;
    position: absolute;
    background-color: black;
}

.k-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 318px;
    margin-left: 320px;
    position: absolute;
    background-color: black;
}

.k-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 330px;
    margin-left: 326px;
    position: absolute;
    background-color: black;
}

.k-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 339px;
    margin-left: 332px;
    position: absolute;
    background-color: black;
}

.l-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 231px;
    margin-left: 402px;
    position: absolute;
    background-color: black;
}

.m-block-1 {
    width: 12px;
    height: 72px;
    margin-top: 279px;
    margin-left: 472px;
    position: absolute;
    background-color: black;
}

.m-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 475px;
    position: absolute;
    background-color: black;
}

.m-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 481px;
    position: absolute;
    background-color: black;
}

.m-block-4 {
    width: 24px;
    height: 12px;
    margin-top: 279px;
    margin-left: 490px;
    position: absolute;
    background-color: black;
}

.m-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 511px;
    position: absolute;
    background-color: black;
}

.m-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 517px;
    position: absolute;
    background-color: black;
}

.m-block-7 {
    width: 12px;
    height: 48px;
    margin-top: 303px;
    margin-left: 520px;
    position: absolute;
    background-color: black;
}

.m-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 523px;
    position: absolute;
    background-color: black;
}

.m-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 529px;
    position: absolute;
    background-color: black;
}

.m-block-10 {
    width: 24px;
    height: 12px;
    margin-top: 279px;
    margin-left: 538px;
    position: absolute;
    background-color: black;
}

.m-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 559px;
    position: absolute;
    background-color: black;
}

.m-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 565px;
    position: absolute;
    background-color: black;
}

.m-block-13 {
    width: 12px;
    height: 48px;
    margin-top: 303px;
    margin-left: 568px;
    position: absolute;
    background-color: black;
}

.n-block-1 {
    width: 12px;
    height: 72px;
    margin-top: 279px;
    margin-left: 638px;
    position: absolute;
    background-color: black;
}

.n-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 641px;
    position: absolute;
    background-color: black;
}

.n-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 647px;
    position: absolute;
    background-color: black;
}

.n-block-4 {
    width: 24px;
    height: 12px;
    margin-top: 279px;
    margin-left: 656px;
    position: absolute;
    background-color: black;
}

.n-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 677px;
    position: absolute;
    background-color: black;
}

.n-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 683px;
    position: absolute;
    background-color: black;
}

.n-block-7 {
    width: 12px;
    height: 48px;
    margin-top: 303px;
    margin-left: 686px;
    position: absolute;
    background-color: black;
}

.o-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 303px;
    margin-left: 757px;
    position: absolute;
    background-color: black;
}

.o-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 763px;
    position: absolute;
    background-color: black;
}

.o-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 327px;
    margin-left: 763px;
    position: absolute;
    background-color: black;
}

.o-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 769px;
    position: absolute;
    background-color: black;
}

.o-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 336px;
    margin-left: 769px;
    position: absolute;
    background-color: black;
}

.o-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 279px;
    margin-left: 781px;
    position: absolute;
    background-color: black;
}

.o-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 339px;
    margin-left: 781px;
    position: absolute;
    background-color: black;
}

.o-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 793px;
    position: absolute;
    background-color: black;
}

.o-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 336px;
    margin-left: 793px;
    position: absolute;
    background-color: black;
}

.o-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 799px;
    position: absolute;
    background-color: black;
}

.o-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 327px;
    margin-left: 799px;
    position: absolute;
    background-color: black;
}

.o-block-12 {
    width: 12px;
    height: 24px;
    margin-top: 303px;
    margin-left: 805px;
    position: absolute;
    background-color: black;
}

.p-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 279px;
    margin-left: 875px;
    position: absolute;
    background-color: black;
}

.p-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 881px;
    position: absolute;
    background-color: black;
}

.p-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 887px;
    position: absolute;
    background-color: black;
}

.p-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 279px;
    margin-left: 899px;
    position: absolute;
    background-color: black;
}

.p-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 911px;
    position: absolute;
    background-color: black;
}

.p-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 917px;
    position: absolute;
    background-color: black;
}

.p-block-7 {
    width: 12px;
    height: 24px;
    margin-top: 303px;
    margin-left: 923px;
    position: absolute;
    background-color: black;
}

.p-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 327px;
    margin-left: 917px;
    position: absolute;
    background-color: black;
}

.p-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 336px;
    margin-left: 911px;
    position: absolute;
    background-color: black;
}

.p-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 339px;
    margin-left: 899px;
    position: absolute;
    background-color: black;
}

.p-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 336px;
    margin-left: 887px;
    position: absolute;
    background-color: black;
}

.p-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 327px;
    margin-left: 881px;
    position: absolute;
    background-color: black;
}

.q-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 459px;
    margin-left: 129px;
    position: absolute;
    background-color: black;
}

.q-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 462px;
    margin-left: 117px;
    position: absolute;
    background-color: black;
}

.q-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 111px;
    position: absolute;
    background-color: black;
}

.q-block-4 {
    width: 12px;
    height: 24px;
    margin-top: 483px;
    margin-left: 105px;
    position: absolute;
    background-color: black;
}

.q-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 507px;
    margin-left: 111px;
    position: absolute;
    background-color: black;
}

.q-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 117px;
    position: absolute;
    background-color: black;
}

.q-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 519px;
    margin-left: 129px;
    position: absolute;
    background-color: black;
}

.q-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 141px;
    position: absolute;
    background-color: black;
}

.q-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 462px;
    margin-left: 141px;
    position: absolute;
    background-color: black;
}

.q-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 147px;
    position: absolute;
    background-color: black;
}

.q-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 507px;
    margin-left: 147px;
    position: absolute;
    background-color: black;
}

.q-block-12 {
    width: 12px;
    height: 120px;
    margin-top: 459px;
    margin-left: 153px;
    position: absolute;
    background-color: black;
}

.r-block-1 {
    width: 12px;
    height: 72px;
    margin-top: 459px;
    margin-left: 223px;
    position: absolute;
    background-color: black;
}

.r-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 226px;
    position: absolute;
    background-color: black;
}

.r-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 462px;
    margin-left: 232px;
    position: absolute;
    background-color: black;
}

.r-block-4 {
    width: 24px;
    height: 12px;
    margin-top: 459px;
    margin-left: 241px;
    position: absolute;
    background-color: black;
}

.r-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 462px;
    margin-left: 262px;
    position: absolute;
    background-color: black;
}

.r-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 268px;
    position: absolute;
    background-color: black;
}

.s-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 338px;
    position: absolute;
    background-color: black;
}

.s-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 462px;
    margin-left: 344px;
    position: absolute;
    background-color: black;
}

.s-block-3 {
    width: 24px;
    height: 12px;
    margin-top: 459px;
    margin-left: 356px;
    position: absolute;
    background-color: black;
}

.s-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 462px;
    margin-left: 380px;
    position: absolute;
    background-color: black;
}

.s-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 386px;
    position: absolute;
    background-color: black;
}

.s-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 480px;
    margin-left: 341px;
    position: absolute;
    background-color: black;
}

.s-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 486px;
    margin-left: 347px;
    position: absolute;
    background-color: black;
}

.s-block-8 {
    width: 24px;
    height: 12px;
    margin-top: 489px;
    margin-left: 356px;
    position: absolute;
    background-color: black;
}

.s-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 492px;
    margin-left: 377px;
    position: absolute;
    background-color: black;
}

.s-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 498px;
    margin-left: 383px;
    position: absolute;
    background-color: black;
}

.s-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 507px;
    margin-left: 386px;
    position: absolute;
    background-color: black;
}

.s-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 380px;
    position: absolute;
    background-color: black;
}

.s-block-13 {
    width: 24px;
    height: 12px;
    margin-top: 519px;
    margin-left: 356px;
    position: absolute;
    background-color: black;
}

.s-block-14 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 344px;
    position: absolute;
    background-color: black;
}

.s-block-15 {
    width: 12px;
    height: 12px;
    margin-top: 507px;
    margin-left: 338px;
    position: absolute;
    background-color: black;
}

.t-block-1 {
    width: 48px;
    height: 12px;
    margin-top: 483px;
    margin-left: 456px;
    position: absolute;
    background-color: black;
}

.t-block-2 {
    width: 12px;
    height: 108px;
    margin-top: 411px;
    margin-left: 468px;
    position: absolute;
    background-color: black;
}

.t-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 471px;
    position: absolute;
    background-color: black;
}

.t-block-4 {
    width: 24px;
    height: 12px;
    margin-top: 519px;
    margin-left: 480px;
    position: absolute;
    background-color: black;
}

.u-block-1 {
    width: 12px;
    height: 48px;
    margin-top: 459px;
    margin-left: 574px;
    position: absolute;
    background-color: black;
}

.u-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 507px;
    margin-left: 577px;
    position: absolute;
    background-color: black;
}

.u-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 583px;
    position: absolute;
    background-color: black;
}

.u-block-4 {
    width: 24px;
    height: 12px;
    margin-top: 519px;
    margin-left: 592px;
    position: absolute;
    background-color: black;
}

.u-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 613px;
    position: absolute;
    background-color: black;
}

.u-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 507px;
    margin-left: 619px;
    position: absolute;
    background-color: black;
}

.u-block-7 {
    width: 12px;
    height: 72px;
    margin-top: 459px;
    margin-left: 622px;
    position: absolute;
    background-color: black;
}

.v-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 459px;
    margin-left: 692px;
    position: absolute;
    background-color: black;
}

.v-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 695px;
    position: absolute;
    background-color: black;
}

.v-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 480px;
    margin-left: 698px;
    position: absolute;
    background-color: black;
}

.v-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 492px;
    margin-left: 701px;
    position: absolute;
    background-color: black;
}

.v-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 504px;
    margin-left: 704px;
    position: absolute;
    background-color: black;
}

.v-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 513px;
    margin-left: 707px;
    position: absolute;
    background-color: black;
}

.v-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 519px;
    margin-left: 713px;
    position: absolute;
    background-color: black;
}

.v-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 513px;
    margin-left: 719px;
    position: absolute;
    background-color: black;
}

.v-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 504px;
    margin-left: 722px;
    position: absolute;
    background-color: black;
}

.v-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 492px;
    margin-left: 725px;
    position: absolute;
    background-color: black;
}

.v-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 480px;
    margin-left: 728px;
    position: absolute;
    background-color: black;
}

.v-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 731px;
    position: absolute;
    background-color: black;
}

.v-block-13 {
    width: 12px;
    height: 12px;
    margin-top: 459px;
    margin-left: 734px;
    position: absolute;
    background-color: black;
}

.w-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 459px;
    margin-left: 804px;
    position: absolute;
    background-color: black;
}

.w-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 807px;
    position: absolute;
    background-color: black;
}

.w-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 480px;
    margin-left: 810px;
    position: absolute;
    background-color: black;
}

.w-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 492px;
    margin-left: 813px;
    position: absolute;
    background-color: black;
}

.w-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 504px;
    margin-left: 816px;
    position: absolute;
    background-color: black;
}

.w-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 513px;
    margin-left: 819px;
    position: absolute;
    background-color: black;
}

.w-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 519px;
    margin-left: 825px;
    position: absolute;
    background-color: black;
}

.w-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 513px;
    margin-left: 831px;
    position: absolute;
    background-color: black;
}

.w-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 504px;
    margin-left: 834px;
    position: absolute;
    background-color: black;
}

.w-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 492px;
    margin-left: 837px;
    position: absolute;
    background-color: black;
}

.w-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 480px;
    margin-left: 840px;
    position: absolute;
    background-color: black;
}

.w-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 843px;
    position: absolute;
    background-color: black;
}

.w-block-13 {
    width: 12px;
    height: 12px;
    margin-top: 459px;
    margin-left: 849px;
    position: absolute;
    background-color: black;
}

.w-block-14 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 855px;
    position: absolute;
    background-color: black;
}

.w-block-15 {
    width: 12px;
    height: 12px;
    margin-top: 480px;
    margin-left: 858px;
    position: absolute;
    background-color: black;
}

.w-block-16 {
    width: 12px;
    height: 12px;
    margin-top: 492px;
    margin-left: 861px;
    position: absolute;
    background-color: black;
}

.w-block-17 {
    width: 12px;
    height: 12px;
    margin-top: 504px;
    margin-left: 864px;
    position: absolute;
    background-color: black;
}

.w-block-18 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 867px;
    position: absolute;
    background-color: black;
}

.w-block-19 {
    width: 12px;
    height: 12px;
    margin-top: 519px;
    margin-left: 873px;
    position: absolute;
    background-color: black;
}

.w-block-20 {
    width: 12px;
    height: 12px;
    margin-top: 516px;
    margin-left: 879px;
    position: absolute;
    background-color: black;
}

.w-block-21 {
    width: 12px;
    height: 12px;
    margin-top: 504px;
    margin-left: 882px;
    position: absolute;
    background-color: black;
}

.w-block-22 {
    width: 12px;
    height: 12px;
    margin-top: 492px;
    margin-left: 885px;
    position: absolute;
    background-color: black;
}

.w-block-23 {
    width: 12px;
    height: 12px;
    margin-top: 480px;
    margin-left: 888px;
    position: absolute;
    background-color: black;
}

.w-block-24 {
    width: 12px;
    height: 12px;
    margin-top: 471px;
    margin-left: 891px;
    position: absolute;
    background-color: black;
}

.w-block-25 {
    width: 12px;
    height: 12px;
    margin-top: 459px;
    margin-left: 894px;
    position: absolute;
    background-color: black;
}

.x-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 639px;
    margin-left: 105px;
    position: absolute;
    background-color: black;
}

.x-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 651px;
    margin-left: 114px;
    position: absolute;
    background-color: black;
}

.x-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 660px;
    margin-left: 120px;
    position: absolute;
    background-color: black;
}

.x-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 669px;
    margin-left: 126px;
    position: absolute;
    background-color: black;
}

.x-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 660px;
    margin-left: 132px;
    position: absolute;
    background-color: black;
}

.x-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 651px;
    margin-left: 138px;
    position: absolute;
    background-color: black;
}

.x-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 639px;
    margin-left: 148px;
    position: absolute;
    background-color: black;
}

.x-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 678px;
    margin-left: 120px;
    position: absolute;
    background-color: black;
}

.x-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 678px;
    margin-left: 132px;
    position: absolute;
    background-color: black;
}

.x-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 687px;
    margin-left: 114px;
    position: absolute;
    background-color: black;
}

.x-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 687px;
    margin-left: 138px;
    position: absolute;
    background-color: black;
}

.x-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 699px;
    margin-left: 105px;
    position: absolute;
    background-color: black;
}

.x-block-13 {
    width: 12px;
    height: 12px;
    margin-top: 699px;
    margin-left: 147px;
    position: absolute;
    background-color: black;
}

.y-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 639px;
    margin-left: 217px;
    position: absolute;
    background-color: black;
}

.y-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 651px;
    margin-left: 220px;
    position: absolute;
    background-color: black;
}

.y-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 660px;
    margin-left: 223px;
    position: absolute;
    background-color: black;
}

.y-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 672px;
    margin-left: 226px;
    position: absolute;
    background-color: black;
}

.y-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 684px;
    margin-left: 229px;
    position: absolute;
    background-color: black;
}

.y-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 693px;
    margin-left: 232px;
    position: absolute;
    background-color: black;
}

.y-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 699px;
    margin-left: 238px;
    position: absolute;
    background-color: black;
}

.y-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 693px;
    margin-left: 244px;
    position: absolute;
    background-color: black;
}

.y-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 684px;
    margin-left: 247px;
    position: absolute;
    background-color: black;
}

.y-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 672px;
    margin-left: 250px;
    position: absolute;
    background-color: black;
}

.y-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 660px;
    margin-left: 253px;
    position: absolute;
    background-color: black;
}

.y-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 651px;
    margin-left: 256px;
    position: absolute;
    background-color: black;
}

.y-block-13 {
    width: 12px;
    height: 12px;
    margin-top: 639px;
    margin-left: 259px;
    position: absolute;
    background-color: black;
}

.y-block-14 {
    width: 12px;
    height: 12px;
    margin-top: 711px;
    margin-left: 235px;
    position: absolute;
    background-color: black;
}

.y-block-15 {
    width: 12px;
    height: 12px;
    margin-top: 723px;
    margin-left: 232px;
    position: absolute;
    background-color: black;
}

.y-block-16 {
    width: 12px;
    height: 12px;
    margin-top: 735px;
    margin-left: 229px;
    position: absolute;
    background-color: black;
}

.y-block-17 {
    width: 12px;
    height: 12px;
    margin-top: 747px;
    margin-left: 226px;
    position: absolute;
    background-color: black;
}

.z-block-1 {
    width: 60px;
    height: 12px;
    margin-top: 639px;
    margin-left: 329px;
    position: absolute;
    background-color: black;
}

.z-block-2 {
    width: 60px;
    height: 12px;
    margin-top: 699px;
    margin-left: 329px;
    position: absolute;
    background-color: black;
}

.z-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 693px;
    margin-left: 329px;
    position: absolute;
    background-color: black;
}

.z-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 684px;
    margin-left: 338px;
    position: absolute;
    background-color: black;
}

.z-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 678px;
    margin-left: 344px;
    position: absolute;
    background-color: black;
}

.z-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 669px;
    margin-left: 353px;
    position: absolute;
    background-color: black;
}

.z-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 660px;
    margin-left: 362px;
    position: absolute;
    background-color: black;
}

.z-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 654px;
    margin-left: 368px;
    position: absolute;
    background-color: black;
}

.z-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 645px;
    margin-left: 377px;
    position: absolute;
    background-color: black;
}