.header {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 100px;
}

* {
    box-sizing: border-box;
}

.about {
    font-size: 14px;
    float: left;
}

/*.thirty-six-things {*/
/*    font-size: 14px;*/
/*    float: center;*/
/*}*/

/*.where {*/
/*    font-size: 14px;*/
/*    float: right;*/
/*}*/

.no-underline {
    text-decoration: none;
}

.wrapper {
    height: 722px;
    margin: 0 auto;
}

.series-wrapper {
    width: 240px;
    margin-left: 35px;
    float: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px;
    line-height: 25px;
}

.content-wrapper {
    height: 500px;
    margin-bottom: 200px;
    float: left;
    font-size: 0;
}

.photos {
    height: 300px;
    margin-right: 15px;
    display: inline-block;
}

.photos img {
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    max-height: 500px;
    margin-bottom: 5px;
}                                                                 

.footer {
    font-size: 14px;
    text-align: right;
    float: right;
    text-decoration: italic;
    margin-bottom: 30px;
}