.block3_1 {
    width: 160px;
    height: 40px;
    position: fixed;
    left: 20px;
    top: 100px;
    background-color: #ff5400;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.block3_2 {
    width: 40px;
    height: 120px;
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: #ff5400;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.everything-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.background {
    width: 750px;
    height: 545px;
    margin-top: 30px;
    margin-left: 125px;
    margin-right: 225px;
    background-color: #ffd2bd;
    display: block;
}

.main-pic {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.color_yellow {
    color: yellow;
    display: inline-block;
}

.color_white {
    color: white;
    display: inline-block;
}

.color_2EB0A9 {
    color: #2EB0A9;
    display: inline-block;
}

.color_ff33cc {
    color: #ff33cc;
    display: inline-block;   
}

.color_5b1923 {
    color: #5b1923;
    display: inline-block;
}

.color_e3c91e {
    color: #e3c91e;
    display: inline-block;  
}

.main-pic img {
    width: 650px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    float: left;
}

.thumbnail-wrapper {
    width: 870px;
    margin: 0 auto;
    font-size: 0;
}

.thumbnail { 
    width: 125px;
    margin: 20 10 30 10;
    display: inline-block;
}

.thumbnail img {
    width: 100%;
    margin-bottom: 35px;
}





/*
FOR YOUR REFERENCE ONLY:

.content-wrapper {
    width: 780px;
    margin-right: 5px;
    margin-bottom: 200px;
    float: left;
    font-size: 0;
}

.content {
    width: 225px;
    margin: 5 30 60 5;
    display: inline-block;
    font-family: "courier new", courier, monospace;
    font-size: 10px;
    line-height: 10px;
}

.content img {
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    max-height: 500px;
    margin-bottom: 5px;
}                                   