.block7 {
    width: 40px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: purple;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.everything-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.background {
    width: 750px;
    height: 545px;
    margin-top: 30px;
    margin-left: 225px;
    margin-right: 225px;
    background-color: #cdfdbd;
    display: block;
}

.main-pic img {
    width: 650px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 125px;
    float: left;
}

.thumbnail-wrapper {
    width: 145px;
    margin: 0 auto;
    font-size: 0;
}

.thumbnail { 
    width: 125px;
    margin: 10 10 30 10;
    display: inline-block;
}

.thumbnail img {
    width: 100%;
    margin-bottom: 35px;
}





/*
FOR YOUR REFERENCE ONLY:

.content-wrapper {
    width: 780px;
    margin-right: 5px;
    margin-bottom: 200px;
    float: left;
    font-size: 0;
}

.content {
    width: 225px;
    margin: 5 30 60 5;
    display: inline-block;
    font-family: "courier new", courier, monospace;
    font-size: 10px;
    line-height: 10px;
}

.content img {
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    max-height: 500px;
    margin-bottom: 5px;
}                                   