.block3_1 {
    width: 160px;
    height: 40px;
    position: fixed;
    left: 20px;
    top: 100px;
    background-color: #ff5000;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.block3_2 {
    width: 40px;
    height: 120px;
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: #ff5000;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.everything-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.main-pic img {
    width: 700px;
    margin-top: 60;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20;
    float: left;
}

.thumbnail-wrapper {
    width: 870px;
    margin: 0 auto;
    font-size: 0;
}

.thumbnail { 
    width: 125px;
    margin: 10 10 30 10;
    display: inline-block;
}

.thumbnail img {
    width: 100%;
    margin-bottom: 35px;
}





/*
FOR YOUR REFERENCE ONLY:

.content-wrapper {
    width: 780px;
    margin-right: 5px;
    margin-bottom: 200px;
    float: left;
    font-size: 0;
}

.content {
    width: 225px;
    margin: 5 30 60 5;
    display: inline-block;
    font-family: "courier new", courier, monospace;
    font-size: 10px;
    line-height: 10px;
}

.content img {
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    max-height: 500px;
    margin-bottom: 5px;
}                                   