body {
  background: white;
  -webkit-user-select: none;
}

.weddings_wrapper {
  display: -ms-grid; /* prefix for IE 10 */
  display: grid; /* or inline-grid */
  display: inline-block;
  width: 780px;
  float: left;
  font-size: 0;
  margin: 20 20 20 20;
  
  float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }

.falling {
  translateY: 100px;
}
    
/*.falling {*/
/*  animation: */
/*    pulse 200s ease infinite alternate, */
/*    nudge 200s linear infinite alternate;*/
/*    transform: translate(0, 0);*/
/*    transform: translate(150px, 0);*/
/*  display: flex;*/
/*  border-radius: 100%;*/
/*}*/

/*body {*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

.weddings_wrapper:hover {
  cursor: url(assets/pin-cursor-small.png), auto;
}

#weddings_1 {
  display: inline-block;
  position: absolute;
  width: 50px;
  top: 100px;
  left: 100px;
  z-index: 0;
}

#balloon_1 {
  position: absolute;
  width: 120px;
  opacity: 0.9;
  top: 50; 
  left: 64;
  z-index: 1;
}

#weddings_2 {
  position: absolute;
  width: 50px;
  top: 460;
  left: 500;
}

#balloon_2 {
  position: absolute;
  width: 120px;
  opacity: 0.91;
  top: 406;
  left: 465;
  z-index: 1;
}

#weddings_3 {
  position: absolute;
  width: 50px;
  top: 47;
  left: 400;
  z-index: 0;
}

#balloon_3 {
  position: absolute;
  width: 120px;
  opacity: 0.9;
  top: 0;
  left: 365;
  z-index: 1;
}

#weddings_4 {
  position: absolute;
  width: 50px;
  top: 647;
  left: 334;
  z-index: 0;
}

#balloon_4 {
  position: absolute;
  width: 120px;
  opacity: 0.85;
  top: 600;
  left: 300;
  z-index: 1;
}

#weddings_5 {
  position: absolute;
  width: 50px;
  top: 300;
  left: 985;
  z-index: 0;
}

#balloon_5 {
  position: absolute;
  width: 120px;
  opacity: 0.84;
  top: 250;
  left: 950;
  z-index: 1;
}

#weddings_6 {
  position: absolute;
  width: 50px;
  top: 756;
  left: 183;
  z-index: 0;
}

#balloon_6 {
  position: absolute;
  width: 120px;
  opacity: 0.82;
  top: 700;
  left: 150;
  z-index: 1;
}

#weddings_7 {
  position: absolute;
  width: 50px;
  top: 600;
  left: 40;
  z-index: 0;
}

#balloon_7 {
  position: absolute;
  width: 120px;
  opacity: 0.9;
  top: 565;
  left: 7;
  z-index: 1;
}

#weddings_8 {
  position: absolute;
  width: 50px;
  top: 290; 
  left: 250;
  z-index: 0;
}

#balloon_8 {
  position: absolute;
  width: 120px;
  opacity: 0.9;
  top: 245; 
  left: 214;
  z-index: 1;
}

#weddings_9 {
  position: absolute;
  width: 50px;
  top: 538;
  left: 242;
  z-index: 0;
}

#balloon_11 {
  position: absolute;
  width: 120px;
  opacity: 0.9;
  top: 490;
  left: 205;
  z-index: 1;
}

.weddings_10 {
  position: absolute;
  width: 50px;
  top: 700;
  left: 150;
}

.weddings_11 {
  position: absolute;
  width: 50px;
  top: 700;
  left: 150;
}

.weddings_12 {
  position: absolute;
  width: 50px;
  top: 200;
  left: 100;
}

.weddings_13 {
  position: absolute;
  width: 50px;
  top: 1200;
  left: 800;
}

.weddings_wrapper img {
  width: 100%;
}
