.lightbox-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
}

.lightbox-background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.6;
    z-index: 7;
}

.lightbox {
    width: 525px;
    height: 350px;
    position: absolute;
    margin: 0 auto;
    background-color: white;
    border-style: solid;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
}

.to {
    top: 22px;
    left: 20px;
    position: absolute;
    display: inline-block;
    font-family: 'Chivo', sans-serif;
    font-size: 17px;
    z-index: 10;
}

input[type="text"] {
    top: 20px;
    right: 19px;
    width: 453px; 
    position: absolute;
    display: inline-block;
    padding-left: 5px;
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    line-height: 22px;
    background: white;
    border: 2px solid #000;
    resize: none;
    outline: none;
    z-index: 10;
}

textarea {
    margin-top: 38px;
    left: 19px;
    width: 487px; 
    height: 225px;
    position: absolute;
    display: inline-block;
    padding-left: 5px;
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    line-height: 22px;
    background: white;
    border: 2px solid #000;
    resize: none;
    outline: none;
    z-index: 10;
}

input[type="submit"] {
    bottom: 19px;
    right: 19px;
    width: 55px;
    position: absolute;
    display: inline-block;
    text-align: center;
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(178, 230, 255);
    border: 2px solid #000;
    z-index: 10;
}

/*.send {*/
/*    bottom: 19px;*/
/*    right: 19px;*/
/*    width: 55px;*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    font-family: 'Chivo', sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 20px;*/
/*    background-color: rgb(178, 230, 255);*/
/*    border: 2px solid #000;*/
/*}*/

input[type="reset"] {
    bottom: 19px;
    left: 19px;
    width: 96px;
    position: absolute;
    display: inline-block;
    text-align: center;
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(221, 232, 239);
    border: 2px solid #000;
    z-index: 10;
}