.all-blocks-wrapper {
    width: 1040px;
    float: left;
}

.a-blocks-wrapper {
    width: 117px;
    height: 114px;
}

.a-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 24px;
    margin-left: 27px;
    position: absolute;
    background-color: black;
}

.a-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 18px;
    margin-left: 33px;
    position: absolute;
    background-color: black;
}