.all-blocks-wrapper {
    width: 1040px;
    height: 2000px;
    display: inline-block;
    font-size: 0;
}

.a-blocks-wrapper {
    width: 117px;
    height: 114px;
}

.a-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 24px;
    margin-left: 27px;
    position: absolute;
    background-color: black;
}

.a-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 18px;
    margin-left: 33px;
    position: absolute;
    background-color: black;
}

.a-block-3 {
    width: 24px;
    height: 12px;
    margin-top: 15px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.a-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 18px;
    margin-left: 63px;
    position: absolute;
    background-color: black;
}

.a-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 24px;
    margin-left: 69px;
    position: absolute;
    background-color: black;
}

.a-block-6 {
    width: 12px;
    height: 54px;
    margin-top: 33px;
    margin-left: 72px;
    position: absolute;
    background-color: black;
}

.a-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 42px;
    margin-left: 63px;
    position: absolute;
    background-color: black;
}

.a-block-8 {
    width: 24px;
    height: 12px;
    margin-top: 39px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.a-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 42px;
    margin-left: 33px;
    position: absolute;
    background-color: black;
}

.a-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 48px;
    margin-left: 27px;
    position: absolute;
    background-color: black;
}

.a-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 57px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.a-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 66px;
    margin-left: 27px;
    position: absolute;
    background-color: black;
}

.a-block-13 {
    width: 12px;
    height: 12px;
    margin-top: 72px;
    margin-left: 33px;
    position: absolute;
    background-color: black;
}

.a-block-14 {
    width: 24px;
    height: 12px;
    margin-top: 75px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.a-block-15 {
    width: 12px;
    height: 12px;
    margin-top: 72px;
    margin-left: 63px;
    position: absolute;
    background-color: black;
}

.b-blocks-wrapper {
    width: 102px;
    height: 153px;
}

.b-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 18px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.b-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 78px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.b-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 69px;
    margin-left: 30px;
    position: absolute;
    background-color: black;
}

.b-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 66px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.b-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 69px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.b-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 78px;
    margin-left: 60px;
    position: absolute;
    background-color: black;
}

.b-block-7 {
    width: 12px;
    height: 24px;
    margin-top: 90px;
    margin-left: 66px;
    position: absolute;
    background-color: black;
}

.b-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 114px;
    margin-left: 60px;
    position: absolute;
    background-color: black;
}

.b-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 123px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.b-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 126px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.b-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 123px;
    margin-left: 30px;
    position: absolute;
    background-color: black;
}

.b-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 114px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.c-blocks-wrapper {
    width: 84px;
    height: 108px;
}

.c-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 60px;
    margin-left: 12px;
    position: absolute;
    background-color: black;
}

.c-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 48px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.c-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 84px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.c-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 39px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.c-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 93px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.c-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 36px;
    margin-left: 36px;
    position: absolute;
    background-color: black;
}

.c-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 96px;
    margin-left: 36px;
    position: absolute;
    background-color: black;
}

.c-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 39px;
    margin-left: 48px;
    position: absolute;
    background-color: black;
}

.c-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 93px;
    margin-left: 48px;
    position: absolute;
    background-color: black;
}

.c-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 48px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.c-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 84px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.d-blocks-wrapper {
    width: 102px;
    height: 156px;
}

.d-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 84px;
    margin-left: 12px;
    position: absolute;
    background-color: black;
}

.d-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 72px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.d-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 63px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.d-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 60px;
    margin-left: 36px;
    position: absolute;
    background-color: black;
}

.d-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 63px;
    margin-left: 48px;
    position: absolute;
    background-color: black;
}

.d-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 72px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.d-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 108px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.d-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 117px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.d-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 120px;
    margin-left: 36px;
    position: absolute;
    background-color: black;
}

.d-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 117px;
    margin-left: 48px;
    position: absolute;
    background-color: black;
}

.d-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 108px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.d-block-12 {
    width: 12px;
    height: 120px;
    margin-top: 12px;
    margin-left: 60px;
    position: absolute;
    background-color: black;
}

.e-blocks-wrapper {
    width: 84px;
    height: 123px;
}

.e-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 48px;
    margin-left: 12px;
    position: absolute;
    background-color: black;
}

.e-block-2 {
    width: 48px;
    height: 12px;
    margin-top: 48px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.e-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 36px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.e-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 27px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.e-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 24px;
    margin-left: 36px;
    position: absolute;
    background-color: black;
}

.e-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 27px;
    margin-left: 48px;
    position: absolute;
    background-color: black;
}

.e-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 36px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.e-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 72px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.e-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 81px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.e-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 84px;
    margin-left: 36px;
    position: absolute;
    background-color: black;
}

.e-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 81px;
    margin-left: 48px;
    position: absolute;
    background-color: black;
}

.e-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 72px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.f-blocks-wrapper {
    width: 102px;
    height: 165px;
}

.f-block-1 {
    width: 48px;
    height: 12px;
    margin-top: 93px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.f-block-2 {
    width: 12px;
    height: 99px;
    margin-top: 42px;
    margin-left: 36px;
    position: absolute;
    background-color: black;
}

.f-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 33px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.f-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 24px;
    margin-left: 48px;
    position: absolute;
    background-color: black;
}

.f-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 21px;
    margin-left: 60px;
    position: absolute;
    background-color: black;
}

.f-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 24px;
    margin-left: 72px;
    position: absolute;
    background-color: black;
}

.f-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 33px;
    margin-left: 78px;
    position: absolute;
    background-color: black;
}

.g-blocks-wrapper {
    width: 102px;
    height: 171px;
}

.g-block-1 {
    width: 12px;
    height: 24px;
    margin-top: 59px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.g-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 47px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.g-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 83px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.g-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 38px;
    margin-left: 30px;
    position: absolute;
    background-color: black;
}

.g-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 92px;
    margin-left: 30px;
    position: absolute;
    background-color: black;
}

.g-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 35px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.g-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 38px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.g-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 47px;
    margin-left: 60px;
    position: absolute;
    background-color: black;
}

.g-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 95px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.g-block-10 {
    width: 12px;
    height: 12px;
    margin-top: 92px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.g-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 83px;
    margin-left: 60px;
    position: absolute;
    background-color: black;
}

.g-block-12 {
    width: 12px;
    height: 96px;
    margin-top: 35px;
    margin-left: 66px;
    position: absolute;
    background-color: black;
}

.g-block-13 {
    width: 12px;
    height: 12px;
    margin-top: 131px;
    margin-left: 60px;
    position: absolute;
    background-color: black;
}

.g-block-14 {
    width: 12px;
    height: 12px;
    margin-top: 140px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.g-block-15 {
    width: 12px;
    height: 12px;
    margin-top: 143px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.g-block-16 {
    width: 12px;
    height: 12px;
    margin-top: 140px;
    margin-left: 30px;
    position: absolute;
    background-color: black;
}

.g-block-17 {
    width: 12px;
    height: 12px;
    margin-top: 131px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.h-blocks-wrapper {
    width: 102px;
    height: 156px;
}

.h-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 24px;
    margin-left: 30px;
    position: absolute;
    background-color: black;
}

.h-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 84px;
    margin-left: 33px;
    position: absolute;
    background-color: black;
}

.h-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 75px;
    margin-left: 39px;
    position: absolute;
    background-color: black;
}

.h-block-4 {
    width: 24px;
    height: 12px;
    margin-top: 72px;
    margin-left: 48px;
    position: absolute;
    background-color: black;
}

.h-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 75px;
    margin-left: 69px;
    position: absolute;
    background-color: black;
}

.h-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 84px;
    margin-left: 75px;
    position: absolute;
    background-color: black;
}

.h-block-7 {
    width: 12px;
    height: 48px;
    margin-top: 96px;
    margin-left: 78px;
    position: absolute;
    background-color: black;
}

.i-blocks-wrapper {
    width: 66px;
    height: 150px;
}

.i-block-1 {
    width: 12px;
    height: 72px;
    margin-top: 60px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
    
}

.i-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 24px;
    margin-left: 18px;
    position: absolute;
    background-color: black;
}

.j-blocks-wrapper {
    width: 102px;
    height: 192px;
}

.j-block-1 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.j-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 30px;
    position: absolute;
    background-color: black;
}

.j-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 159px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.j-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 156px;
    margin-left: 54px;
    position: absolute;
    background-color: black;
}

.j-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 147px;
    margin-left: 60px;
    position: absolute;
    background-color: black;
}

.j-block-6 {
    width: 12px;
    height: 84px;
    margin-top: 66px;
    margin-left: 66px;
    position: absolute;
    background-color: black;
}

.j-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 30px;
    margin-left: 66px;
    position: absolute;
    background-color: black;
}

.k-blocks-wrapper {
    width: 108px;
    height: 168px;
}

.k-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 24px;
    margin-left: 24px;
    position: absolute;
    background-color: black;
}

.k-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 72px;
    margin-left: 63px;
    position: absolute;
    background-color: black;
}

.k-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 81px;
    margin-left: 51px;
    position: absolute;
    background-color: black;
}

.k-block-4 {
    width: 12px;
    height: 12px;
    margin-top: 90px;
    margin-left: 42px;
    position: absolute;
    background-color: black;
}

.k-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 99px;
    margin-left: 33px;
    position: absolute;
    background-color: black;
}

.k-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 99px;
    margin-left: 51px;
    position: absolute;
    background-color: black;
}

.k-block-7 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
    margin-left: 57px;
    position: absolute;
    background-color: black;
}

.k-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 123px;
    margin-left: 63px;
    position: absolute;
    background-color: black;
}

.k-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 132px;
    margin-left: 69px;
    position: absolute;
    background-color: black;
}

.l-blocks-wrapper {
    width: 66px;
    height: 168px;
}

.l-block-1 {
    width: 12px;
    height: 120px;
    margin-top: 24px;
    margin-left: 30px;
    position: absolute;
    background-color: black;
}

.m-blocks-wrapper {
    width: 147px;
    height: 126px;
}

.m-block-1 {
    width: 12px;
    height: 72px;
    margin-top: 279px;
    margin-left: 472px;
    position: absolute;
    background-color: black;
}

.m-block-2 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 475px;
    position: absolute;
    background-color: black;
}

.m-block-3 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 481px;
    position: absolute;
    background-color: black;
}

.m-block-4 {
    width: 24px;
    height: 12px;
    margin-top: 279px;
    margin-left: 490px;
    position: absolute;
    background-color: black;
}

.m-block-5 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 511px;
    position: absolute;
    background-color: black;
}

.m-block-6 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 517px;
    position: absolute;
    background-color: black;
}

.m-block-7 {
    width: 12px;
    height: 48px;
    margin-top: 303px;
    margin-left: 520px;
    position: absolute;
    background-color: black;
}

.m-block-8 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 523px;
    position: absolute;
    background-color: black;
}

.m-block-9 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 529px;
    position: absolute;
    background-color: black;
}

.m-block-10 {
    width: 24px;
    height: 12px;
    margin-top: 279px;
    margin-left: 538px;
    position: absolute;
    background-color: black;
}

.m-block-11 {
    width: 12px;
    height: 12px;
    margin-top: 282px;
    margin-left: 559px;
    position: absolute;
    background-color: black;
}

.m-block-12 {
    width: 12px;
    height: 12px;
    margin-top: 291px;
    margin-left: 565px;
    position: absolute;
    background-color: black;
}

.m-block-13 {
    width: 12px;
    height: 48px;
    margin-top: 303px;
    margin-left: 568px;
    position: absolute;
    background-color: black;
}

.n-blocks-wrapper {
    width: 105px;
    height: 126px;
}

.o-blocks-wrapper {
    width: 102px;
    height: 108px;
}

.p-blocks-wrapper {
    width: 108px;
    height: 174px;
}

.q-blocks-wrapper {
    width: 114px;
    height: 183px;
}

.r-blocks-wrapper {
    width: 111px;
    height: 138px;
}

.s-blocks-wrapper {
    width: 96px;
    height: 108px;
}

.t-blocks-wrapper {
    width: 102px;
    height: 162px;
}

.u-blocks-wrapper {
    width: 114px;
    height: 126px;
}

.v-blocks-wrapper {
    width: 87px;
    height: 123px;
}

.w-blocks-wrapper {
    width: 159px;
    height: 135px;
}

.x-blocks-wrapper {
    width: 108px;
    height: 132px;
}

.y-blocks-wrapper {
    width: 105px;
    height: 156px;
}

.z-blocks-wrapper {
    width: 96px;
    height: 138px;
}

.one-blocks-wrapper {
    width: 72px;
    height: 150px;
}

.two-blocks-wrapper {
    width: 105px;
    height: 129px;
}

.three-blocks-wrapper {
    width: 108px;
    height: 150px;
}

.four-blocks-wrapper {
    width: 108px;
    height: 156px;
}

.five-blocks-wrapper {
    width: 84px;
    height: 153px;
}

.six-blocks-wrapper {
    width: 96px;
    height: 153px;
}

.seven-blocks-wrapper {
    width: 96px;
    height: 144px;
}

.eight-blocks-wrapper {
    width: 108px;
    height: 144px;
}

.nine-blocks-wrapper {
    width: 114px;
    height: 144px;
}

.zero-blocks-wrapper {
    width: 102px;
    height: 162px;
}

.period-blocks-wrapper {
    width: 54px;
    height: 78px;
}

.comma-blocks-wrapper {
    width: 54px;
    height: 72px;
}

.ldquo-blocks-wrapper {
    width: 72px;
    height: 72px;
}

.rdquo-blocks-wrapper {
    width: 90px;
    height: 60px;
}

.exclamation-blocks-wrapper {
    width: 72px;
    height: 174px;
}

.question-blocks-wrapper {
    width: 93px;
    height: 186px;
}

.lparenthesis-blocks-wrapper {
    width: 81px;
    height: 168px;
}

.rparenthesis-blocks-wrapper {
    width: 75px;
    height: 156px;
}
