.header {
    text-align: center;
    padding-bottom: 30px;
}

* {
    box-sizing: border-box;
}

.howitworks {
    font-size: 13px;
    float: left;
}

.thirty-six-things {
    font-size: 13px;
    float: center;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.dates-wrapper {
    width: 240px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
    line-height: 14px;
    margin-left: 35px;
}

.content-wrapper {
    margin-right: 30px;
    width: 630px;
    float: left;
    margin: 5px;
}

.content {
    width: 200px;
    float: left;
    margin: 5px;
    font-family: "courier new", courier, monospace;
    font-size: 9px;
}

.content img {
    width: 100%;
}

.text-box {
    width: 200px;
    height: 200px;
    padding: 60 70;
    background-color: yellow;
    font-family: "courier new", courier, monospace;
    font-size: 8px;
    line-height:8px;
}

audio {
    background-color: #000;
    max-width: 200px;
}

/*.iframe {
    width: 200px;
    height: 112px;
}*/