header {
    font-size: 14px;
    text-align: center;
    padding-bottom: 30px;
}

* {
    box-sizing: border-box;
}

.howitworks {
    font-size: 13px;
    float: left;
}

.36things {
    font-size: 13px;
    float: center;
}

.wrapper {
    margin: 0 auto;
}


.dates {
    width: 35%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-align: left;
    background-color: white;
    padding: 20px;
}

.content {
    width: 25%;
    float: left;
    padding: 20px;
}
.content img {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

/*img src {
    height: 50px;
    float: left;
    margin-left: 20px;
}*/