header {
    text-align: center;
    padding-bottom: 30px;
}

* {
    box-sizing: border-box;
}

.howitworks {
    font-size: 12px;
    float: left;
}

.thirty-six-things {
    font-size: 12px;
    float: center;
}

.wrapper {
    margin: 0 auto;
}

.dates {
    width: 250px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
    background-color: white;
    padding-bottom: 5px;
}

.content-wrapper {
    margin-left: 10px; 
    margin-right: 10px;
}

.content {
    width: 20.6%;
    float: left;
    padding: 5px;
}

.content img {
    width: 100%;
}